*.a
*.d
*.dll
*.exe
*.gcda
*.ilk
*.lib
*.log
*.map
*.o
*.o-*
*.obj
*.optrpt
*.orig
*.pdb
*.res
*.so
*.so.*
*~
*.out
.directory
.DS_Store

#ignore outputs
_OLD
out
*.log
example_usage
*.egg-info
#*.h5
#Models
Energyplus_temp
#ignore csv datasets
Dataframes
*.csv
Figures
#ignore the library build outputs
build
dist

# now that we have python, ignore some things
**.pyc
venv
**/*.png
